<html>

<body>

<h1>{{sport.name}}</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<a href = '{{url_for('newGearItem', sport_id = sport.id) }}'>Create New Item</a>

{% for i in items %}

<div>

<p>{{i.name}}</p>

<p>{{i.description}}</p>

<a href='{{url_for('editGearItem', sport_id = sport.id, gear_id = i.id) }}'>Edit</a>

</br>
<a href = '{{url_for('deleteGearItem', sport_id = sport.id, gear_id = i.id ) }}'>Delete</a>

</div>


{% endfor %}
</body>

</html>
